<footer class="footer">
    <div class="extreme-container">
        <div class="row">
            {{!-- Footer Menu --}}
            {{#if @site.secondary_navigation}}
            <div class="col s12">
                <nav class="footer-menu u-marginBottom30">
                    {{navigation type="secondary"}}
                </nav>
            </div>
            {{/if}}

            {{!-- Copy Right --}}
            <div class="col s12 m7 l8">
                <div class="u-fontSizeSmaller u-marginBottom20">
                    {{@site.title}}, {{date format="YYYY"}}. All Rights Reserved.
                    Simplified version of <a href="https://godofredo.ninja">@GodoFredoNinja</a> design.
                </div>
            </div>

            {{!-- Social Media --}}
            <div class="col s12 m5 l4">
                <aside class="footer-social-media js-social-media">
                    {{#if @site.twitter}}<a title="Twitter {{@site.twitter}}" href="{{twitter_url}}" target="_blank" rel="noopener noreferrer"><svg class="icon"><use xlink:href="#icon-twitter"></use></svg></a>{{/if}}
                </aside>
            </div>
        </div>
    </div>
</footer>